.Header {
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

.FutureColor {
    width: 4%;
    height: 20px;
    background-color: rgba(255, 255, 126, 0.2);
    display: inline-block;
    vertical-align: middle;
    border: 1px solid rgba(0,0,0,0.5);
}

.FutureColorText {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1%;
    width: 95%;
}

.StyleIndex {
    margin-bottom: 10px;
}

@media (max-width: 469px) {
    .FutureColor{
        vertical-align: super;
    }
}