.ErrorRoot{
    background-color: rgba(249, 0, 0, 0.41);
    color: white;
}

.NoDisplay{
    display: none;
}

.ErrorExclamation{
    text-align: center;
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 52px;
    border: 2px solid white;
    color: white;
    font-weight: 700;
    margin: 5px;
    line-height: 17px;
    padding: 6px 11px;
}

.ErrorMessage{
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    margin: 5px;
}

@media (max-width: 614px) {
    .ErrorExclamation {
        display: none;
    }
}