.Nav{
    transition: box-shadow 0.3s;
    padding: 0 10px;
}

.Brand{
    min-height: 50px;
    font-family: Parisienne;
    font-weight: 700;
    font-size: 46px;
    padding: 31px 0 0 0;
    line-height: 0;
}

.Nav li a{
    height:50px;
    padding-top: 12px;
}

.Nav a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.Nav .box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.Nav button:focus {
    outline: none;
}

.FixedNav{
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 100;
    top: 0;
}

.Active{
    background-color: rgba(211, 218, 230, 0.5);
}

.NoShadow{
    -webkit-box-shadow: 0px 10px 21px -15px rgba(0,0,0,0);
    -moz-box-shadow: 0px 10px 21px -15px rgba(0,0,0,0);
    box-shadow: 0px 10px 21px -15px rgba(0,0,0,0);
}

.Shadow{
    -webkit-box-shadow: 0px 10px 21px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 21px -15px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 21px -15px rgba(0,0,0,0.75);
}

.Header{
    margin-bottom: 70px;
}

@media (max-width: 575px) {
    .Nav li a{
        padding-left: 10px!important;
    }
}