.Episode {
    width: 100%;
    display: inline-block;
    padding: 2% 1%;
    transition: background-color 0.3s;
}

.FutureEpisode {
    background-color: rgba(255, 255, 126, 0.2);
}

.EpisodeHighlight:hover {
    background-color: aliceblue;
}

.EpisodeImg {
    margin-right: 2%;
    width: 218px;
    height: 122px;
    background-repeat: no-repeat;
    background-size: contain;
}

.ImageContainer {
    width: 20%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 2%;
}

.Name, .Number, .Date {
    display: inline-block;
    margin-right: 2%;
    text-align: center;
    font-size: 18px;
    vertical-align: middle;
    width: 20%;
}

.Name {
    font-weight: 500;
}

.BlurImage {
    -webkit-filter: blur(9px);
    filter: blur(9px);
}