.ShowContainer {
    width: 32%;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 36px;
    padding: 1%;
    background-color: rgba(0,0,0,0.1);
    border-radius: 5px;
    transition: box-shadow 0.2s;
    text-decoration: none;
    margin-left: 2%;
    position: relative;
    z-index: 98;
}

.TvShow:hover {
    -webkit-box-shadow: 7px 7px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 25px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 25px 0px rgba(0,0,0,0.75);
}

.ShowContainer:nth-child(3n + 1) {
    margin-left: 0;
}

.ShowContainer:hover {
    -webkit-box-shadow: 7px 7px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 25px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 25px 0px rgba(0,0,0,0.75);
}

    .ShowContainer:hover .Delete {
        display: inherit;
    }

.Delete {
    position: absolute;
    right: 4%;
    color: white;
    background-color: rgba(255, 0, 0, 0.61);
    border-radius: 50px;
    top: 2%;
    z-index: 99;
    width: 37px;
    text-align: center;
    height: 35px;
    padding-top: 1px;
    font-size: 21px;
    cursor: pointer;
    display: none;
    transition: transform 0.1s, background-color 0.3s;
}

    .Delete:hover {
        background-color: red;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }

@media (max-width: 1200px) {
    .ShowContainer {
        width: 48%;
    }

        .ShowContainer:nth-child(3n + 1) {
            margin-left: 0;
        }

        .ShowContainer:nth-child(2n) {
            margin-left: 2%;
        }

        .ShowContainer:nth-child(2n + 1) {
            margin-left: 0;
        }
}

@media (max-width: 767px) {

    .Delete{
        display: inherit;
    }

    .ShowContainer {
        width: 100%;
    }

        .ShowContainer:nth-child(3n + 1) {
            margin-left: auto;
        }

        .ShowContainer:nth-child(2n) {
            margin-left: 0;
        }
}