.TvShow {
    width: 100%;
    cursor: pointer;
    text-align: center;
}

.TvShow img{
    margin-bottom: 1%;
}

.ShowName{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 1%;
}

.ShowDescription{

}